Tuble ex

In [47]:
numbers_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(numbers_tuple[4])

5

In [45]:
numbers_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(a, b, c, d, e, f, g, h, i, j) = numbers_tuple
print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)
print("e =", e)
print("f =", f)
print("g =", g)
print("h =", h)
print("i =", i)
print("j =", j)

a = 1
b = 2
c = 3
d = 4
e = 5
f = 6
g = 7
h = 8
i = 9
j = 10

In [43]:
numbers_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
x = list(numbers_tuple)
x.insert(2,11)
numbers_tuple=tuple(x)
print(numbers_tuple)

(1, 2, 11, 3, 4, 5, 6, 7, 8, 9, 10)

In [41]:
char_tuple = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
result_string = ''.join(char_tuple)
print(result_string)

exercises

In [39]:
example_tuple = (1, 2, 3, 4, 2, 5, 6, 3, 3, 2, 7, 8, 8)
occurrences = {}
for item in example_tuple:
    if item in occurrences:
        occurrences[item] += 1
    else:
        occurrences[item] = 1
repeated_items = {item: count for item, count in occurrences.items() if count > 1}
print(repeated_items)

{2: 3, 3: 3, 8: 2}

In [37]:
example_tuple = (1, 2, 3, 4, 5, 6)
temp_list = list(example_tuple)
temp_list.pop(0)
example_tuple = tuple(temp_list)
print(example_tuple)

(2, 3, 4, 5, 6)

In [35]:
example_tuple = (1, 2, 3, 4, 5, 6)
reversed_tuple = example_tuple[::-1]
print(reversed_tuple)

(6, 5, 4, 3, 2, 1)

In [33]:
list_of_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
new_last_value = 100
new_list_of_tuples = [t[:-1] + (new_last_value,) for t in list_of_tuples]
print(new_list_of_tuples)

[(1, 2, 100), (4, 5, 100), (7, 8, 100)]

List exc.

In [1]:
list_fav = ['apple' , 'mango'] 
list_fav.append('banana')
print(list_fav)

['apple', 'mango', 'banana']

In [3]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
colors = ["red", "blue", "green", "yellow"]
colors.insert(1, "orange")
print(colors)

['red', 'orange', 'blue', 'green', 'yellow']

In [31]:
cities = ["Cairo", "Alex", "Aswan", "Alex", "Port Said"]
cities.remove("Alex")
print (cities)

['Cairo', 'Aswan', 'Alex', 'Port Said']

In [11]:
favorite_animals = ["Dog", "Cat", "Rabbit", "Elephant", "Lion"]
removed_animal = favorite_animals.pop(2)  
print (favorite_animals)
print (removed_animal)

['Dog', 'Cat', 'Elephant', 'Lion']
Rabbit

In [15]:
random_numbers = [5, 17, 22, 39, 42, 58]
random_numbers.clear()
print (random_numbers)

[]

In [ ]:
Dictonary exc

In [17]:
capitals = {
    "United States": "Washington D.C.",
    "Canada": "Ottawa",
    "Germany": "Berlin",
    "Italy": "Rome",
    "France" :"Paris"
}
capital_france = capitals.get("France")
capital_france

'Paris'

In [23]:
programming_languages = {
    "Python": ["Django", "Flask", "Pyramid"],
    "JavaScript": ["React", "Vue", "Angular"],
    "Java": ["Spring", "Hibernate", "Struts"],
    "Ruby": ["Rails", "Sinatra"]
}
languages_list = list(programming_languages.keys())
frameworks_list = list(programming_languages.values())
print (languages_list)
print (frameworks_list)

['Python', 'JavaScript', 'Java', 'Ruby']
[['Django', 'Flask', 'Pyramid'], ['React', 'Vue', 'Angular'], ['Spring', 'Hibernate', 'Struts'], ['Rails', 'Sinatra']]

In [25]:
item_prices = {
    "Milk": 3.50,
    "Bread": 2.25,
    "Eggs": 4.99,
    "Cheese": 5.75
}
items_list = list(item_prices.items())
items_list

[('Milk', 3.5), ('Bread', 2.25), ('Eggs', 4.99), ('Cheese', 5.75)]

In [27]:
fruit_prices = {
    "Apple": 1.20,
    "Banana": 0.50
}
more_fruit_prices = {
    "Orange": 0.80,
    "Grapes": 2.00
}
fruit_prices.update(more_fruit_prices)
fruit_prices

{'Apple': 1.2, 'Banana': 0.5, 'Orange': 0.8, 'Grapes': 2.0}

In [29]:
students = {
    "Alice": 88,
    "Bob": 92,
    "Carol": 77,
    "Dave": 85
}
carol_grade = students.pop("Carol")
students, carol_grade

({'Alice': 88, 'Bob': 92, 'Dave': 85}, 77)

In [ ]:
sample_data = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3"
}
sample_data.clear()
sample_data